<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">

	<appender name="DATABASE" class="org.apache.log4j.jndi.datasource.DataSourceAppender">
		<param name="datasource" value="jdbc/datasource" />
		<!-- <param name="threshold" value="WARN" /> -->
		<layout class="org.apache.log4j.jndi.datasource.DataSourceLayout">
			<param name="sqlPattern" value="INSERT INTO LOG (LEVEL, HOSTNAME, MESSAGE, EXCEPTION, DATE_LOG) VALUES ('%p', '%h', '%m', '%e', '%d{yyyy-MM-dd HH:mm:ss}')" />
			<param name="maxSizeMessage" value="4000" />
			<param name="maxSizeException" value="4000" />
		</layout>
	</appender>
	
	<root>
		<appender-ref ref="DATABASE" />
	</root>

</log4j:configuration>